a[href^=tel] {
  white-space: pre;
}

main {
  padding-bottom: 1em;
}

table {
  display: table;
  width: 100%;
}

th, td {
  text-align: left;
}

@media (min-width: 40rem) {
  aside.home {
    display: grid;
    column-gap: 1.5em;
  }

  aside.home > *:nth-child(2) {
    grid-column: 2;
  }

  aside.home > *:nth-child(3) {
    grid-column: span 2;
  }
}

.mb-1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.inline {
  display: inline;
}

.link-btn, .link-btn:hover, .link-btn:active {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  color: var(--link-color);
}

.link-btn:hover {
  color: var(--link-hover-color);
}

.link-btn:active {
  color: var(--link-active-color);
}
